/*Start global*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12px;
    font-family: 'Roboto Condensed', cursive;
    color: #eee;
}
body{
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
}
section{
    padding: 5rem 0;
}
a{
    text-decoration: none;
    color: #eee;
}
p{
    font-size: 1.8rem;
    font-weight: 300;
}
img{
    border-radius: 4px;
    border-style: groove;
    width: 100%;
}
.content{
    z-index: -1;
    position: absolute;
}
/*End global*/ 

/*Start reusable*/
.container{
    width: 100%;
    max-width: 120rem;
    height: 100%;
    margin: 3rem;
    position: relative;
}
.section-heading{
    text-align: center;
    margin-bottom: 3rem;
}
.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.75);
}
.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}
.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
}
.has-margin-right{
    margin-right: 5rem;
}
.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    margin: 0 2rem;
}
/*End reusable*/
/*Star second option header*/
.main-header h1, h2 {
    position: relative;
    margin: 0;
    font-size: 2rem;
    border-bottom: solid transparent;
  }
  .main-header h1{
      border-bottom: solid rgb(205, 230, 66);
      margin-bottom: 0;
  }
  .nav-bar{
    background-color: #16162d;
    border: 2px solid 16162d;
    border-radius: 2px;
    cursor: pointer;
}
.nav-bar:hover{
    background-color: #16162d;
    transition: all 1s ease;
} 

.nav-bar h2:hover{
    border-bottom: solid rgb(205, 230, 66);
    border-radius: 2;
    transition: all 1s ease;
}

.main-header h1 {
    padding: 0.5vw 0;
    font-size: 5vw;
    color: #eee;
    user-select: none;
  }
  .main-header {
    display: flex;
    justify-content: center;
    background: #16162d;
    position: relative;
    font-family: 'Magra', cursive;
    top: 0;
   }
  .nav-bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: #282861;
    transition: background .5s;
    padding: 2rem 0;
  }
  .nav-1 {
    transition: margin-right .5s ease;
  }
  .fixed {
    position: fixed;
    width: 100%;
    top: 0;
    background: #16162d;
  }
  .toleft {
    margin-right: 50%;
  }
/*Finish second header option*/

/*Start about*/
.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}
.about-heading h1{
    font-size: 10rem;
    opacity: .3;
}
.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}
.profile-img{
    flex: 1;
    margin-right: 5rem;
}
.about-details{
    flex: 1;
}
.social-media{
    margin-top: 5rem;
}
.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}
.fa-linkedin:hover{
    color: #12171b;
    transition: color 650ms
}
.fa-github:hover{
    color: #12171b;
}
.fa-gitlab:hover{
    color: #12171b;
}
.fa-envelope-square:hover{
    color:#12171b;
    transition: color 650ms;
}
.fa-phone-square:hover{
    color: #12171b;
    transition: color 650ms
}
/*End about*/

/*Start skills*/
.my-skills{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}
.skill p{
    padding-top: 1rem;
}
.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #ffe838;
    background-color: #16162d;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}
.icon-container i{
    color: #ffe838;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*End skills*/

/*Start projects*/
.projects-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
.projects-item:last-child{
    margin-bottom: 0;
}
.profile-img{
    width: 50rem;
    flex: 1;
}
.projects-description h1{
    font-size: 3rem;
    font-weight: 300;
    margin-top: 1rem 0;
}
.projects-description h6{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}
.projects-description .cta{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 950ms;
}
.projects-description .cta:hover{
    color: #2f67cd;
}
/*End projects*/

/*Start timeline*/
.timeline ul{
    border-left: 4px solid #ffe838;
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}
.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}
.timeline .date{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
.timeline .date:last-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .date::before,
.timeline .date::after{
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}
.timeline .date::before{
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}
.timeline .date::after{
    content: '';
    box-shadow: 0 0 0 4px #EEE;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #16162d;
}
/*End timeline*/

/*Start contact*/
.contact{
    background-color: #221e3f;
    text-align: left;
    margin-bottom: 3rem;
}
.contacts{
    list-style: none;
    display: block;
    font-size: 2rem;
    margin: 0 auto;
    text-align: left;
    width: 60%;
}
/*End contact*/
/*Start footer*/
.copyright{
    width: 100%;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #16162d;
    padding: 0.5rem 0;
    position: fixed;
    bottom: 0;
}
.up{
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}
.up i{
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}
.copyright p{
    font-size: 1.4rem;
}
/*End footer*/

/*Start animations*/
@keyframes pulse{
    0%{
        box-shadow: 0 0 0 0 #ffe838;
    }
    70%{
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
/*End animations*/

/*Media queries*/
@media screen and (max-width: 800px){
    section{
        padding: 0.2rem 0;
    }

    .main-header h1{
        font-size: 3.5rem;
        justify-content: space-evenly;    
        width: fit-content;
    }
    .nav-bar h2{
        font-size: 1rem;
        margin-right: 2%;
    }

    .nav-bar:hover{
        background-color: #16162d;
        transition: none;
    } 
    
    .nav-bar h2:hover{
        border-bottom: solid rgb(205, 230, 66);
        border-radius: 2;
        transition: none;
    }

    .about .container{
        flex-direction: column;
        width: fit-content;
    }
    .my-skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6rem;
        margin-top: 5rem;
    }

    .skill{
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0.5rem;
    }
    .skill h1{
        text-transform: uppercase;
        letter-spacing: 2px;
        display: flex;
        margin: 0.2rem 1% 0.2rem 0;
    }
    .skill p{
        padding-top: 0.2rem;
    }

    .profile-img{
        width: fit-content;
        order: 0;
        margin-left: 4.5rem;
        margin-bottom: 3rem;
    }
    .projects-item{
        flex-direction: column;
    }
    .projects-img{
        width: fit-content;
        margin: 0;
    }
    .projects-description{
        margin-bottom: 1rem;
        width: fit-content;
        order: -1;
    }
    .container{
        width: fit-content;
    }

    .timeline ul{
        width: 35%;
        text-align: left;
        margin-left: 25%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .timeline p{
        font-size: 1.2rem;
    } 
    .timeline .date::before{
        font-size: 0.9rem;
    }
    .up{
        -right: 12rem;
    }
    .contacts{
        width: fit-content;
        font-size: 1.5rem;
    }
    .copyright{
        width: 100%;
    }
}
@media screen and (max-width: 600px){
    section{
        padding: 0.2rem 0;
    }

    .main-header h1{
        font-size: 3.5rem;
        justify-content: space-evenly;    
        width: fit-content;
    }
    .nav-bar h2{
        font-size: 1rem;
        -width: fit-content;
        margin-right: 2%;
    }

    .nav-bar:hover{
        background-color: #16162d;
        transition: none;
    } 
    
    .nav-bar h2:hover{
        border-bottom: solid rgb(205, 230, 66);
        border-radius: 2;
        transition: none;
    }

    .about .container{
        flex-direction: column;
        width: fit-content;
    }
    .my-skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 6rem;
        margin-top: 5rem;
    }

    .skill{
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0.5rem;
    }
    .skill h1{
        text-transform: uppercase;
        letter-spacing: 2px;
        display: flex;
        margin: 0.2rem 1% 0.2rem 0;
    }
    .skill p{
        padding-top: 0.2rem;
    }

    .profile-img{
        width: fit-content;
        order: 0;
        margin-left: 4.5rem;
        margin-bottom: 3rem;
    }
    .projects-item{
        flex-direction: column;
    }
    .projects-img{
        width: fit-content;
        margin: 0;
    }
    .projects-description{
        margin-bottom: 1rem;
        width: fit-content;
        order: -1;
    }
    .container{
        width: fit-content;
    }

    .timeline ul{
        width: 35%;
        text-align: left;
        margin-left: 25%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .timeline p{
        font-size: 1.2rem;
    } 
    .timeline .date::before{
        font-size: 0.9rem;
    }
    .up{
        -right: 12rem;
    }
    .contacts{
        width: fit-content;
        font-size: 1.5rem;
    }
    .copyright{
        width: 100%;
    }
}
